<!DOCTYPE html>
<html>
    <head>
        <title>Calculadora básica</title>
        <script >
            function boton(valor){
                texto = document.getElementById("resultado").value;
                texto += valor;
                document.getElementById("resultado").value = texto;
            }

            function operador(valor){
                operadores = document.getElementsByName("op");
                operadores.forEach(element => {
                    element['disabled']=true;
                });
                
                texto = document.getElementById("resultado").value;
                texto += " " + valor + " ";
                document.getElementById("resultado").value = texto;
                if(valor == "+"){
                    document.getElementById("operacion").value = "sumar";
                }
                if(valor == "-"){
                    document.getElementById("operacion").value = "restar";
                }
                if(valor == "*"){
                    document.getElementById("operacion").value = "multiplicar";
                }
                if(valor == "/"){
                    document.getElementById("operacion").value = "dividir";
                }
            }

            function borrar(){
                document.getElementById("resultado").value = "";
            }

            function operar(){
                texto = document.getElementById("resultado").value;
                operacion = document.getElementById("operacion").value;
                lista = texto.split(" ")
                cadena = "http://127.0.0.1:5000/operacion/" + operacion + "/" + lista[0] + "/" + lista[2]
                document.getElementById("calculadora").action = cadena;
                document.getElementById("calculadora").method = 'POST';
                document.getElementById("calculadora").submit();
            }

        </script>
    </head>
    <body>
        <form id="calculadora" action="" method="POST"></form>
        <table>
            <tr>
                <td colspan="4">
                    <input type="text" name="resultado" id="resultado" value="{{ resultado }}">
                </td>
            </tr>
            <tr>
                <td><button onclick="boton(7); return false;">7</button></td>
                <td><button onclick="boton(8); return false;">8</button></td>
                <td><button onclick="boton(9); return false;">9</button></td>
                <td><button name="op" onclick="operador('+'); return false;">+</button></td>
            </tr>
            <tr>
                <td><button onclick="boton(6); return false;">6</button></td>
                <td><button onclick="boton(5); return false;">5</button></td>
                <td><button onclick="boton(4); return false;">4</button></td>
                <td><button name="op" onclick="operador('-'); return false;">-</button></td>
            </tr>
            <tr>
                <td><button onclick="boton(1); return false;">1</button></td>
                <td><button onclick="boton(2); return false;">2</button></td>
                <td><button onclick="boton(3); return false;">3</button></td>
                <td><button name="op" onclick="operador('*'); return false;">*</button></td>
            </tr>
            <tr>
                <td><button onclick="boton(0); return false;">0</button></td>
                <td><button onclick="operar();">=</button></td>
                <td><button onclick="borrar(); return false;">C</button></td>
                <td><button name="op" onclick="operador('/'); return false;">/</button></td>
            </tr>
        </table>
        <input type="hidden" name="operacion" id="operacion" value="">
    
        
    </body>
</html>